@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Cascadia Code;
    background-color: #f3eded;
}

a {
    text-decoration: none;
}

.bg {
    background-image: url(mountains_bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#head {
    position: absolute;
    background-color:rgba(223, 216, 216,0.5);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.rightsec {
    font-size: 3vh;
    margin-left: 73%;
    display: flex;
}

.ref1, .ref2 {
    margin: 3.3vh;
    color: black;
    background-repeat: no-repeat;
    background-image: linear-gradient(#000000,#000000);
    background-size: 0 0.3vh;
    background-position: left bottom;
    transition: 0.5s;
}

.ref1:hover, .ref2:hover {
    background-size: 100% 0.3vh;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 3vh;
}

.centex {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: rgba(221, 221, 221, 0.6);
    padding: 4vh;
    border-radius: 2vh;
    box-shadow: 0 2vh 2vh rgba(15, 15, 15, 0.1);
}

.cen1 {
    padding-top: 5%;
}

.mountains {
    display: flex;
    flex-direction: row;
    font-size: 300%;
    justify-content: center;
    align-items: center;

    .com {
        width: 8.5%;
        margin-top: 1.3%;
        padding: 1%;
        transition: 1s;
    }
}

.mountains:hover .com {
    transform: rotate(250deg);
    transition-duration: 1s;
}

.logo {
    position: absolute;
    display: flex;
    align-items: center;
    padding-top: 2.8rem;
    padding-left: 10vh;
    margin: 3.3vh;
}

.items {
    font-size: 3rem;
    display: flex;
    align-items:end;
    justify-content: center;
   
    img {
        margin-left: 1.7rem;
        width: 0%;
        transition: 0.5s;
    }

    .web {
        margin-bottom: 0.7rem;
        position: absolute;
        color: black;
        font-size: 3.5vh;
        transition: 0.5s;
    }
    .left {
        position: absolute;
        margin-right: 6rem;
        margin-top: 1.3rem;
    }

    .cent {
        position: absolute
    }

    .right {
        position: absolute;
        padding-left: 6.5rem;
        margin-top: 3.7rem;
    }
}


.items:hover {
    .web {
        color: white;
        transition: 0.6s;
    }

    .left {
        width: 5rem;
        transition: 1.1s;
    }

    .cent {
        width: 4.75rem;
        transition: 0.5s;
    }

    .right {
        width: 3rem;
        transition: 0.9s;
    }
}

#footer {
    position: absolute;
    font-size:2.5vh;
    top:100%;
    display: flex;
    flex-direction: row;
    background-color: #c5c3c3;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center;
    align-items: center;

    .p1 {
        margin-right: 30%;
    }
    
    .p3 {
        margin-left: 30%;
    }

    .p2 {
        font-size: 3vh;
    }

    a {
        padding-top: 0.2%;
        color: black;
        transition: 0.5s;
    }
    .p1:hover, .p3:hover {
        transform:translateY(-1vh);
        color: #e00f0f;
    }
}

